@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
  margin: 0;
  font-family: sans-serif;
  background-color: #fafafa;
  scroll-padding-top: 82px;
  padding-top: 82px;
}

h1 {
  font-family: 'Pacifico', cursive;
}
