.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #9c27b0;
  color: #fff;
}

.navbar-menu {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-left a {
  margin: 0 10px;
  text-decoration: none;
  color: inherit;
}

.navbar-center {
  flex: 1;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
}



.burger {
  display: none;
  flex-direction: column;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.burger .line {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 4px 0;
  transition: transform 0.3s, opacity 0.3s;
}

.burger.open .line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.burger.open .line:nth-child(2) {
  opacity: 0;
}

.burger.open .line:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

@media (max-width: 600px) {
  .burger {
    display: flex;
  }

  .navbar-center {
    display: none;
  }

  .navbar-menu {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
    min-height: calc(100vh - 60px);
  }

  .navbar-menu.open {
    display: flex;
    align-items: flex-start;
  }

  .navbar-left {
    flex-direction: column;
    width: 100%;
    justify-content: center;
    margin: 5px 0;
  }

  .navbar-left a {
    margin: 10px 0;
    display: block;
    width: 100%;
    padding: 15px 0;
    font-size: 1.2rem;
  }
}
